﻿@{
    WebSecurity.InitializeDatabaseConnection("Mobile Task Managment", "UserProfile", "UserId", "Email", true); 
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
    </body>
</html>
