﻿<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <title>@Page.Title</title>
    <link href="~/Styles/SiteStyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="Script.js" type="text/javascript"></script>      
    @RenderSection("JavaScript", required: false)
    <script src="~/Scripts/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&API_KEY=AIzaSyB0psdjcxIe95AgzlQovJmoSEqCEytJMu8"></script>
      <!--API_KEY=AIzaSyB0psdjcxIe95AgzlQovJmoSEqCEytJMu8"-->
  </head>

    <body>

    
        <header id="classicNevigationBar">
            <h4>hello @Page.UserName</h4> <h6> <a href="/Logout"> logout</a></h6>
            
        </header>

        <nav id="siteFunctions">
            <ul id='menu'>
                <li><a id="my" href='/Home'>Home</a></li>
                <li><a id="my" href=''>Vehicles</a></li>
                <li><a id="my" href='/Customer/Customer.cshtml'>Costumer</a></li>
                <li><a id="my" href='/Tasks/Tasks.cshtml'>Tasks</a></li>
                <li><a id="my" href=''>Workers</a></li>
                <li><a id="my" href="/SendNotification.aspx">Settings</a></li>
            </ul>
        </nav>

        <div id=container>
            <section id="map-container">
                @RenderBody()           
            </section>
            <section id="second-container">
                  <div id="directions_panel"></div>
            </section>
        </div>

        <footer>
            &copy; @DateTime.Now.Year ISR Mobile Task Manegment
        </footer>
  
        <script src="Script.js"></script>      
    </body>
  
</html>