﻿@{
    var username = "";
    var password = "";
    var errorMessage = "";       


    if(WebSecurity.IsAuthenticated)
    {
            Response.Redirect("~/Home");
            //need to pass data to Home and rest of pages.
    }     

    
    if(IsPost){
        username = Request["username"];
        password = Request["password"];
        if(WebSecurity.Login(username,password,true)){
            //need to pass data to Home and rest of pages.
            Response.Redirect("~/Home");
        }
        else
        {
            errorMessage = "Login was not successful.";
            
        }
    }
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Mobile Task Manegment Login</title>
        <link  rel="stylesheet" href="~/Styles/loginStyle.css" type="text/css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src ="/loginScript.js"type="text/javascript"></script>
    </head>
    <body>
        
    <h1>Welcome to ISR Mobile Task Manegment</h1>
    <div class="container">
	    <div id="content">
            <div class="btns">
        	    <div class="btn-sign">
				    <a href="#login-box" class="login-window">Login </a>
        	    </div>
                </br></br>
                <div class="btn-sign">
                    <a href="~/Register">Register</a> 
                </div>
		    </div>

            <div id="login-box" class="login-popup">
            <a href="#" class="close"><img src="close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
                <form method="post">
                  <fieldset class="textbox">
                        <label class="username"><span>Username:</span></label>
                        <input type="text" name="username" id="username" value="" />
                    </p>
                    <p>
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" value="" />
                    </p>   
                    <p>
                        @if(errorMessage != ""){
                            <span class="errorMessage">@errorMessage</span>
                        }
                    </p>
                    <p>
                        <input class="sign in button" type="submit" value="login" />
                    </p>     
                  </fieldset>                
                </form>

            </div>
        </div>
    </div>
            
    </body>
</html>



    