﻿@{
    Layout="~/_Layout.cshtml";    
    Page.Title="Mobile Task Manegment";

    if(WebSecurity.IsAuthenticated)
    {
        Page.UserName=WebSecurity.CurrentUserName;
        Page.UserId=WebSecurity.CurrentUserId;
        var db = Database.Open("Mobile Task Managment");
        var selectCommand = "SELECT address FROM Tasks WHERE Cust=@0 AND UserId=@1";
        var selectCommand2 = "SELECT address FROM Tasks WHERE UserId = @0";
        var selectItem = "ISR";
        var selectedData = db.QuerySingle(selectCommand, selectItem, Page.UserId);
        var selectedData2 = db.Query(selectCommand2, Page.UserId);
        db.Close();
    }
    else
    {
        Response.Redirect("~");
    }
}

<div id="map-canvas">
   <script>initialize(@Page.UserId)</script> 
</div>

