﻿@{
  var username = "";
  var password = "";
  var confirmPassword = "";
  var errorMessage = "";
  
  if(!IsPost){
    if(WebSecurity.IsAuthenticated){
      errorMessage = String.Format("You are already logged in. (User name: {0})", WebSecurity.CurrentUserName);
    }
  }
   
  if(IsPost){
    WebSecurity.Logout();
      
    username = Request["username"];
    password = Request["password"];
    confirmPassword = Request["confirmPassword"];
 
    if(password != confirmPassword){
      errorMessage = "Passwords don't match.";
    }
    else {
      if(WebSecurity.UserExists(username)){
        errorMessage = String.Format("User '{0}' already exists.", username);
      }
      else{
        WebSecurity.CreateUserAndAccount(username,password,null,false);
        WebSecurity.Login(username, password, true);
        errorMessage = String.Format("{0} created.", username);
        Response.Redirect("~/Home");
        //create an account

      }
    }
  }
}
 
<!DOCTYPE html>
<html lang="en">
  <head>
    <link  rel="stylesheet" href="~/Styles/loginStyle.css" type="text/css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src ="/loginScript.js"type="text/javascript"></script>
    <meta charset="utf-8" />
    <title></title>
  </head>

  <body>
    <h1>Register</h1>
    <div id="login-box" class="login-popup">
        <a href="#" class="close"><img src="close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
        <form method="post">
          <p>
            @if(errorMessage != ""){
                <span class="errorMessage">@Html.Raw(errorMessage)</span>
            }
          </p>
 
          <p>
            <label for="username">Username (email):</label><br/>
            <input type="email" name="username" id="username" value='@Request["username"]' />
          </p>
          <p>
            <label for="password">Password:</label><br/>
            <input type="password" name="password" id="password" value="" />
          </p>   
          <p>
            <label for="confirmPassword">Confirm password:</label><br/>
            <input type="password" name="confirmPassword" id="confirmPassword" value="" />
          </p>   
 
          <p>
            <input type="submit" value="Submit" />
          </p>   
      
        </form>
     </div>
  </body>
</html>