﻿@{
    Layout="~/_Layout.cshtml";    
    Page.Title="Add Task";    

    <script src="~/Script.js" type="text/javascript"></script>
    Validation.RequireField("address", "You must enter an Address");
    Validation.RequireField("cust", "You must enter a customer");
    

    var cust = "";
    var address = "";
    var date = "".AsDateTime();
    var vehicle = "";
    var isAssigned= 0;
    var start = "";
    var end = "";

    if(IsPost && Validation.IsValid()){
        cust = Request.Form["cust"];
        address = Request.Form["address"];
        date = Request.Form["date"].AsDateTime();
        start = Request.Form["start"].ToString();
        end = Request.Form["end"].ToString();
        vehicle=Request.Form["vehicle"];
        if (!vehicle.IsEmpty())
        {
            isAssigned=1;
        }
        var db = Database.Open("Mobile Task Managment");
        var insertCommand = "INSERT INTO Tasks (Cust, Address, Date, Start, IsAssigned, Status, Vehicle , ArriveAt, UserId)" +
        "Values (@0, @1, @2,@3,@4, @4, @5, @6, @7)";  
        db.Execute(insertCommand, cust, address, date, start, isAssigned, vehicle, end, Page.UserId);
        
        //add dialog - confirm!
        Response.Redirect("~/Tasks/Tasks.cshtml");
    }
}

<!--issues: make the cust as a link to get the phone num, either present the phone directly-->
<section id="main">
  <h1>Add a Task</h1>
     
  <form method="post">
    <fieldset>
        <p>
        <label for="cust">cust:</label>
        <input type="text" name="cust" value="">
        <select id ="customer" name="customer" onchange="getCustInfo(this)"></select>
            <script>getCustomerList(@Page.UserId)</script>
        @Html.ValidationMessage("cust")
        </p>

        <p>
            <label for="address">address:</label>
            <input type="text" name="address" value="@Request.Form["address"]" />
            <!--need to add auto complete address-->
            @Html.ValidationMessage("address")
        </p>

        <p>
            <label for="date">date:</label>
            <input type="date" name="date" value=@DateTime.Today.ToString("u")/>
            
            @Html.ValidationMessage("date")
        </p>

        <p>
            <label for="start">start:</label>
            <input type="time" step="900" name="start" value="@Request.Form["start"]" />
        
            <label for="end">end:</label>
            <input type="time" step="900" name="end" value="@Request.Form["end"]" />
        </p>

        <p>
            <label for="vehicle">vehicle:</label>
            <input type="text" name="vehicle" value="@Request.Form["vehicle"]" />
        </p>
      
        <p><input type="submit" name="buttonSubmit" value="create task" /></p>
    </fieldset></br>
  </form>

    <a href='~/Tasks/Tasks.cshtml'><button id="backToTasks">Back</button></a>
</section>

