﻿@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Delete Task";
    <script src="~/Script.js" type="text/javascript"></script>

    var cust = "";
    var address = "";
    var date = "".AsDateTime();
    var vehicle = "";
    var driver = "";
    var start = "";
    var end = "";
    var taskId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            taskId = Request.QueryString["ID"];
            var db = Database.Open("Mobile Task Managment");
            var dbCommand = "SELECT * FROM Tasks WHERE ID = @0 AND UserId = @1";
            var row = db.QuerySingle(dbCommand, taskId, Page.UserId);

            if (row != null)
            {
                cust = row.cust;
                address = row.address;
                date = row.date;
                start = row.start;
                end = row.ArriveAt;
                vehicle = row.vehicle;
            }
            else
            {
                Validation.AddFormError("No tasks was found for that ID.");
            }
            db.Close();
        }
        else
        {
            Validation.AddFormError("No task was selected.");
        }

    }

    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        taskId = Request.Form["taskId"];
        var db = Database.Open("Mobile Task Managment");
        var updateCommand = "DELETE FROM Tasks WHERE Id=@0 AND UserId = @1";
        db.Execute(updateCommand, taskId, Page.UserId);
        db.Close();
        Response.Redirect("~/Tasks/Tasks.cshtml");
    }
}

<section id="main">
    <h1>Edit a Task</h1>
    <form method="post">
        <fieldset>
            <legend>Task Information</legend>
            <p>
                <span>cust:</span>
                <span>@cust</span>
            </p>

            <p>
                <span>address:</span>
                <span>@address</span>
            </p>

            <p>
                <span>date:</span>
                <span>@date.ToString("d")</span>
            </p>

            <p>
                <span>veicle:</span>
                <span>@vehicle</span>
            </p>
            <input type="hidden" name="taskId" value="@taskId" />

            <p><input type="submit" name="buttonDelete" onclick="return confirm('Are you sure you want to delete this item?');" value="Delete" /></p>
        </fieldset>
    </form>
    <a href='~/Tasks/Tasks.cshtml'><button id="backToTasks">Back</button></a>
</section>


