﻿@{
    Layout="~/_Layout.cshtml";    
    Page.Title="Edit Task";        

    var cust = "";
    var address = "";
    DateTime date="".AsDateTime();
    var vehicle = "";
    var isAssigned= 1;
    var start = "";
    var end = "";
    var taskId = "";
    

    if(!IsPost){
     if(!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt()) {
        taskId = Request.QueryString["ID"];
        var db = Database.Open("Mobile Task Managment");
        var dbCommand = "SELECT * FROM Tasks WHERE ID = @0 AND UserId = @1";
        var row = db.QuerySingle(dbCommand, taskId, Page.UserId);

        if(row != null) {
            cust = row.Cust;
            address = row.Address;
            date = row.Date;
            vehicle = row.Vehicle;
            start = row.Start;
            end = row.ArriveAT;   
        }
        else {
            Validation.AddFormError("No tasks was found for that ID.");
        }
        db.Close();
    }
    else {
        Validation.AddFormError("No task was selected.");
    }
    }

    if(IsPost){
        Validation.RequireField("address", "You must enter an Address");
        Validation.RequireField("cust", "You must enter a customer");
        Validation.RequireField("date", "You must enter a date");

        cust = Request.Form["cust"];
        address = Request.Form["address"];
        date = Request.Form["date"].AsDateTime();  //present to date to edit
        taskId = Request.Form["taskId"];
        start = Request.Form["start"];
        end = Request.Form["end"];
        vehicle = Request.Form["vehicle"];
        if (vehicle=="")
        {
            isAssigned=0;
        }

        if(Validation.IsValid()){
            var db = Database.Open("Mobile Task Managment");
            var updateCommand = "UPDATE Tasks SET cust=@0, address=@1, date=@2, start=@3, ArriveAt=@4 ,vehicle=@5, Status=@6 WHERE Id=@7 AND UserId = @8";
            db.Execute(updateCommand, cust, address, date, start, end ,vehicle, isAssigned ,taskId, Page.UserId);
            Response.Redirect("~/Tasks/Tasks.cshtml");
       }
    }
}

<section id="main">
  <h1>Edit a Task</h1>
  <form method="post">
    <fieldset>
      <legend>Task Information</legend>
        <p>
            <label for="cust">cust:</label>
            <input type="text" name="cust" value="@cust" />
            @Html.ValidationMessage("cust")
        </p>

        <p>
            <label for="address">address:</label>
            <input type="text" name="address" value="@address"/>
            @Html.ValidationMessage("address")
        </p>

        <p>
            <label for="date">date:</label>
            <input type="date" name="date" value=@date.ToString("u") />
            
            @Html.ValidationMessage("date")
        </p>

        <p>
            <label for="start">start:</label>
            <input type="time" name="start" value="@start" />
        
            <label for="end">end:</label>
            <input type="time" name="end" value="@end" />
        </p>

        <p>
            <label for="vehicle">vehicle:</label>
            <input type="text" name="vehicle" value="@vehicle"/>
        
        </p>
            <input type="hidden" name="taskId" value="@taskId" />

      <p><input type="submit" name="buttonSubmit" value="Submit Changes" /></p>
    </fieldset>
  </form>
    <a href='~/Tasks/Tasks.cshtml'><button id="backToTasks">Back</button></a>
  </section>
