﻿@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Tasks";
    <script src="~/Script.js" type="text/javascript"></script>


    var db = Database.Open("Mobile Task Managment");
    var selectCommand = "SELECT * FROM Tasks WHERE UserId = @0";
    var searchTerm = "";
    var grid = new WebGrid();

    if (!Request.QueryString["viewBy"].IsEmpty())
    {
        var view = Request.QueryString["viewBy"];
        switch (view)
        {
            case "today":
                selectCommand = "SELECT * FROM Tasks WHERE Date = @0 AND UserId = @1";
                searchTerm = DateTime.Today.ToShortDateString();
                var selectedData = db.Query(selectCommand, searchTerm, Page.UserId);
                grid = new WebGrid(source: selectedData, defaultSort: "Date", rowsPerPage: 5);
                break;
            case "Cust":
                selectCommand = "SELECT * FROM Tasks WHERE Cust = @0 AND UserId = @1";
                searchTerm = Request.QueryString["Cust"];
                selectedData = db.Query(selectCommand, searchTerm, Page.UserId);
                grid = new WebGrid(source: selectedData, defaultSort: "Date", rowsPerPage: 5);
                break;
            case "Between":
                selectCommand = "SELECT * FROM Tasks WHERE Date BETWEEN @0 AND @1 AND UserId = @2";
                searchTerm = Request.QueryString["fromDate"];
                var searchTerm2 = Request.QueryString["toDate"];
                selectedData = db.Query(selectCommand, searchTerm, searchTerm2, Page.UserId);
                grid = new WebGrid(source: selectedData, defaultSort: "Date", rowsPerPage: 5);
                break;
            case "vehicle":
                
                break;
                
            default:
                selectedData = db.Query(selectCommand, Page.UserId);
                grid = new WebGrid(source: selectedData, defaultSort: "Date", rowsPerPage: 6);
                break;
        }

    }
    else
    {
        selectCommand = "SELECT * FROM Tasks WHERE Date = @0 AND UserId = @1";
        searchTerm = DateTime.Today.ToShortDateString();
        var selectedData = db.Query(selectCommand, searchTerm, Page.UserId);
        if (selectedData!=null)
        {
            grid = new WebGrid(source: selectedData, defaultSort: "Date", rowsPerPage: 8);
        }
        
    }
    db.Close();


}
  <section id="viewTasks">
 
      <h1>Tasks</h1>
     
      <form method="get">
            <div>
                <label for="searcTask">search:</label>
                <input type="text" name="search" value="" />
                <input type="Submit" value="Search" /> 
            </div>
            <div>
                <label for="chooseView">view by:</label>
                <select name="viewBy" onchange="reactToViewOptions(@Page.UserId)" >
                    <option value="today">today</option>
                    <option value="Between">between</option>
                    <option value="Cust">cust</option>
                    <option value="Vehicle">vehicle</option>
                    <option value="all" >all</option>
                </select>   
                <div id="betweenDates"> <input type="Submit" value="view" /> </div>
                <div id="customer"> </div>
                <div id="test"></div>
                
            </div>
        </form>
    
        
        <div>
            
            @if(grid.TotalRowCount>0)
                {@grid.GetHtml(
                    tableStyle: "grid",
                    headerStyle: "head",
                    alternatingRowStyle: "alt",
                    columns: grid.Columns(
                        grid.Column(format: @<a href="~/Tasks/EditTask?id=@item.ID">Edit</a>),
                        grid.Column("Status",format: @<strong>@item.Status</strong>),
                        grid.Column("Cust"),
                        grid.Column("Address"),
                        grid.Column("Date",format: item => ((item.Date == null) ? "" : item.Date.ToString("dd/MM/yyyy"))),
                        grid.Column("Vehicle"),
                        grid.Column(format: @<a href="~/Tasks/DeleteTask?id=@item.ID">Delete</a>)
                    )
                 );}
                  else 
                    {<h3 style="border: 2px solid black; padding: 10px">No tasks for today</h3>}  
         </div>
       
        <button><a href='~/Tasks/AddTask.cshtml'>create task</a></button><br>  
  </section>


