﻿@{
    Layout="~/_Layout.cshtml";    
    Page.Title="Add Cust";    

    Validation.RequireField("custName", "You must enter a name");
    Validation.RequireField("address", "You must enter an address");
    Validation.RequireField("custPhone", "You must enter a phone number");
    
    var errorMessage="";

    var custName = "";
    var custPhone = "";
    var custMail = "";
    var contactName = "";
    var contactPhone = "";
    var contactMail = "";
    var address = "";

    if(IsPost && Validation.IsValid()){
        custName = Request.Form["custName"];
        custPhone = Request.Form["custPhone"];
        custMail = Request.Form["custMail"];
        contactName = Request.Form["contactName"];
        contactPhone = Request.Form["contactPhone"];
        contactMail = Request.Form["contactMail"];
        address = Request.Form["address"];
        var db = Database.Open("Mobile Task Managment");
        
        var insertCommand = "INSERT INTO Customer (custName, custPhone, custMail, contactName, contactPhone, contactMail, address, UserId) Values (@0, @1, @2, @3,@4,@5,@6, @7)";
        try{
            db.Execute(insertCommand, custName, custPhone, custMail,contactName, contactPhone, contactMail, address, Page.UserId);    
        }catch(Exception ex)
        {
            errorMessage=ex.Message;   
        }
        db.Close();
        Response.Redirect("~/Customer/Customer.cshtml");
    }
}

<section id="main">
  <h1>Add new cust</h1>
   @if (!errorMessage.IsEmpty()){
   <p>err is:, @errorMessage</p>}

  <form method="post">
    <label for="custName">Cust</label>
    <fieldset>
       <p>
            <label for="custName">Name:</label>
            <input type="text" name="custName" value="@Request.Form["custName"]" />
            @Html.ValidationMessage("custName")
        </p>

       <p>
            <label for="custPhone">Phone:</label>
            <input type="tel" name="custPhone" value="@Request.Form["custPhone"]" />
            @Html.ValidationMessage("custPhone")
        </p>

       <p>
            <label for="mail">Mail:</label>
            <input type="email" name="mail" value="@Request.Form["custMail"]" />
        </p>

        <label for="contactMen">Cotact Men</label>
       <p>
            <label for="contactName">name:</label>
            <input type="text" name="contactName" value="@Request.Form["contactName"]" />
        </p>
        
        <p>
            <label for="contactPhone">phone:</label>
            <input type="tel" name="contactPhone" value="@Request.Form["contactPhone"]" />
        </p>

       <p>
            <label for="contactMail">mail:</label>
            <input type="email" name="contactMail" value="@Request.Form["contactMail"]" />
        </p>
        
       <p>
            <label for="address">address:</label>
            <input type="text" name="address" value="@Request.Form["address"]" />
            @Html.ValidationMessage("address")
        </p>
        
            
       <p><input type="submit" name="buttonSubmit" value="create cust" /></p>
    </fieldset></br>
  </form>

    <a href='~/Customer/Customer.cshtml'><button id="backToCust">Back</button></a>
</section>

