﻿@{
    Layout="~/_Layout.cshtml";    
    Page.Title="Customer";    

    var db = Database.Open("Mobile Task Managment") ;
    var selectCommand = "SELECT * FROM Customer WHERE UserId = @0";
    var searchTerm = "";
    var selectedData = db.Query(selectCommand, Page.UserId);
    
    //if(!Request.QueryString["searchGenre"].IsEmpty() ) {
        //  selectCommand = "SELECT * FROM Movies WHERE Genre = _0";
        //  searchTerm = Request.QueryString["searchGenre"];
    // }
       
    var grid = new WebGrid(source: selectedData, defaultSort: "custName", rowsPerPage:8);        
     db.Close();

    
}

  <section id="main">
      <h1>Customer</h1>
        
      <form method="get">
            <div>
                <label for="searchGenre">search:</label>
                <input type="text" name="search" value="" />
                <input type="Submit" value="Search" /> 
                <button><a href='~/Customer/AddCust.cshtml'>add new cust</a></button></br>
            </div>
        </form>
    
        
        <div>
            @grid.GetHtml(
                tableStyle: "grid",
                headerStyle: "head",
                alternatingRowStyle: "alt",
                columns: grid.Columns(
                    grid.Column(format: @<a href="~/Customer/EditCust?ID=@item.custName">Edit</a>),
                    grid.Column("custName",format: @<strong>@item.custName</strong>),
                    grid.Column("custPhone"),
                    grid.Column("custMail"),
                    grid.Column("contactName"),
                    grid.Column("contactPhone"),
                    grid.Column("contactMail"),
                    grid.Column("address"),
                    grid.Column(format: @<a href="~/Customer/DeleteCust?id=@item.custName">Delete</a>)
                )
             )  
            
         </div>   
  </section>


