﻿@{
    
    Layout="~/_Layout.cshtml";    
    Page.Title="Delete Task";      
    //<script src="~/Script.js" type="text/javascript"></script>

    var custId="";
    var custName = "";
    var custPhone = "";
    var custMail = "";
    var contactName = "";
    var contactPhone = "";
    var contactMail = "";
    var address = "";

    if(!IsPost){
     if(!Request.QueryString["ID"].IsEmpty()) {
        custId = Request.QueryString["id"];
        var db = Database.Open("Mobile Task Managment");
        var dbCommand = "SELECT * FROM Customer WHERE custName = @0 AND UserId = @1";
        var row = db.QuerySingle(dbCommand, custId, Page.UserId);

        if(row != null) {
            custName = row.custName;
            custPhone = row.custPhone;
            custMail = row.custMail;
            contactName = row.contactName;
            contactPhone = row.contactPhone;   
            contactMail=row.contactMail;
            address = row.address;
        }
        else {
            Validation.AddFormError("No cust was found for that ID.");
        }
        db.Close();
    }
    else {
        Validation.AddFormError("No cust was selected.");
    }
    }

    if(IsPost && !Request["buttonDelete"].IsEmpty()){
            custId = Request.Form["custId"];        
            var db = Database.Open("Mobile Task Managment");
            var updateCommand = "DELETE FROM Customer WHERE custName = @0 AND UserId= @1";
            db.Execute(updateCommand, custId, Page.UserId);
            db.Close();
            Response.Redirect("~/Customer/Customer.cshtml");
       
    } 
}

<section id="main">
  <h1>Delete a Cust</h1>
  <form method="post">
    
    <fieldset>
      <legend>Cust Information</legend>
        <p>
          <span>Name:</span>
          <span>@custName</span>       
        </p>

        <p>
            <span>Phone:</span>
            <span>@custPhone</span>       
        </p>

        <p>
            <span>Mail:</span>
            <span>@custMail</span>       
        </p>

        <p>
          <span>address:</span>
          <span>@address</span>       
        </p>

         <legend>Contact Man Information</legend>
        <p>
          <span>Name:</span>
          <span>@contactName</span>       
        </p>

        <p>
            <span>Phone:</span>
            <span>@contactPhone</span>       
        </p>

        <p>
            <span>Mail:</span>
            <span>@contactMail</span>       
        </p>
        <input type="hidden" name="custId" value="@custId" />

      <p><input type="submit" name="buttonDelete" onclick="return confirm('Are you sure you want to delete this item?');" value="Delete" /></p>
    </fieldset>
  </form>
  <a href='~/Customer/Customer.cshtml'><button id="backToTCust">Back</button></a>
</section>