﻿@{
    Layout="~/_Layout.cshtml";    
    Page.Title="Edit Task";        

    var custId="";
    var custName = "";
    var custPhone = "";
    var custMail = "";
    var contactName = "";
    var contactPhone = "";
    var contactMail = "";
    var address = "";

    if(!IsPost){
     if(!Request.QueryString["ID"].IsEmpty()) {
        custId = Request.QueryString["ID"];
        var db = Database.Open("Mobile Task Managment");
        var dbCommand = "SELECT * FROM Customer WHERE custName = @0 AND UserId = @1";
        var row = db.QuerySingle(dbCommand, custId, Page.UserId);

        if(row != null) {
            custName = row.custName;
            custPhone = row.custPhone;
            custMail = row.custMail;
            contactName = row.contactName;
            contactPhone = row.contactPhone;   
            contactMail=row.contactMail;
            address = row.address;
        }
        else {
            Validation.AddFormError("No cust was found for that ID.");
        }
        db.Close();
    }
    else {
        Validation.AddFormError("No cust was selected.");
    }
    }

    if(IsPost){
        Validation.RequireField("custName", "You must enter a name");
        Validation.RequireField("address", "You must enter an address");
        Validation.RequireField("custPhone", "You must enter a phone number");
        
        custName = Request.Form["custName"];
        custPhone = Request.Form["custPhone"];
        custMail = Request.Form["custMail"];
        contactName = Request.Form["contactName"];
        contactPhone = Request.Form["contactPhone"];   
        contactMail=Request.Form["contactMail"];
        address = Request.Form["address"];

        if(Validation.IsValid()){
            var db = Database.Open("Mobile Task Managment");
            var updateCommand = "UPDATE Customer SET custName= @0, custPhone= @1 ,custMail = @2"+
            ", contactName = @3, contactPhone = @4, contactMail = @5 , address=@6  WHERE custName=@0 AND UserId = @8";
            db.Execute(updateCommand, custName, custPhone, custMail, contactName, contactPhone, contactMail, address, custId, Page.UserId);
            db.Close();
            Response.Redirect("~/Customer/Customer.cshtml");
       }
    }
}

<section id="main">
  <h1>Edit a Cust</h1>
  <form method="post">
    <label for="custName">Cust</label>
    <fieldset>
       <p>
            <label for="custName">Name:</label>
            <input type="text" name="custName" value="@custName" />
            @Html.ValidationMessage("custName")
        </p>

       <p>
            <label for="custPhone">Phone:</label>
            <input type="tel" name="custPhone" value="@custPhone" />
            @Html.ValidationMessage("custPhone")
        </p>

       <p>
            <label for="mail">Mail:</label>
            <input type="email" name="mail" value="@custMail" />
        </p>

        <label for="contactMen">Cotact Men</label>
       <p>
            <label for="contactName">name:</label>
            <input type="text" name="contactName" value="@contactName" />
        </p>
        
        <p>
            <label for="contactPhone">phone:</label>
            <input type="tel" name="contactPhone" value="@contactPhone" />
        </p>

       <p>
            <label for="contactMail">mail:</label>
            <input type="email" name="contactMail" value="@contactMail" />
        </p>
        
       <p>
            <label for="address">address:</label>
            <input type="text" name="address" value="@address" />
            @Html.ValidationMessage("address")
        </p>
        
        <p><input type="submit" name="buttonSubmit" value="Submit Changes" /></p>
    </fieldset></br>
  </form>
    <a href='~/Customer/Customer.cshtml'><button id="backToTCust">Back</button></a>
  </section>
