html, body, #map-canvas { 
    height: 100%; margin: 0; padding: 0;
}

header {
    background-color:black;
    color:white;
    text-align:left;
    padding:5px; 
}

#menu {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

#my:link, #my:visited{
    display: block;
    width: 120px;
    font-weight: bold;
    color: #ffffff;
    background-color: #7c527a;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#my:hover{
    display: block;
    color:AliceBlue ; 
}

nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: 80%;
    width: 150px;
    float: left;
    padding: 5px;
}

#container{
    float: left;
    height: 80%;
    width: fill-available;
    background-color: #ffd800;
}

#map-container {
    float: left;
    height: 100%;
    width: 850px;
    padding: 20px ;
    background-color: #bba9a9;
}

#second-container{
    
    width: fit-content;
    padding: 10px;
    float:left;
    height: 100%;
    background-color: #ff6a00;
}

#tasks {
    width: 550px;
    margin-left: 150px ;
    padding: 20px ;
    background-color: #bba9a0;
    float: left;
    height: 490px;  
}

section #onLineList {
    width:500px;
    height:450px;
    background-color: #ff6a00;
    float:left;
    padding:10px; 
}



footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
    float: page;
}

.grid { margin: 4px; border-collapse: collapse; width: 600px; }
.grid th, .grid td { border: 1px solid #C0C0C0; padding: 5px; }
.head { background-color: #E8E8E8; font-weight: bold; color: #FFF; }
.alt { background-color: #E8E8E8; color: #000; }
